<!DOCTYPE html>
<html lang="bn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bengali.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <title>তরুণ জানা</title>
</head>

<body>
    <!-- Nav Bar -->
    <header class="container">
        <nav class="nav">
            <div class="nav-left">
                <a class="brand" href="/bengali/">তরুণ জানা<span class="rectangle blink"></span></a>
            </div>
            <div class="nav-right">
                <div class="tabs">
                    <a href="/bengali/about">পরিচয়</a>
                    <a href="/bengali/contact">যোগাযোগ</a>
                </div>
            </div>
        </nav>
    </header>
    <hr>
    <!-- Intro -->
    <section class="is-horizontal-align container">
        <div class="card">
            <header class="text-center">
                <h1>নমস্কার!</h1>
            </header>
            <p class="text-justify">আমি তরুণ কুমার জানা, একজন সামান্য কলমচি। আমার বাংলা ব্লগে আপনাকে স্বাগত জানাচ্ছি।
            </p>
            <footer class="is-center">
                <a class="button primary" target="_blank" href="https://www.facebook.com/TheTarunJana">ফেসবুক</a>
                <a class="button primary" target="_blank" href="mailto:hi@tarunjana.in">ইমেল</a>
            </footer>
        </div>
    </section>
    <!-- List of Posts -->
    <h2 class="is-center">পোস্টের তালিকা :</h2>
    <section class="is-horizontal-align">
        <ul>
            {{ range .Pages }}
            <!-- List the post if comment: true is set in frontmatter -->
            {{ if .Params.comment }}
            <li>
                {{.Date.Format "02-01-2006"}} | <a href="{{ .Permalink }}">{{.Title}}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </section>
    <hr>
    <!-- Theme Toggler -->
    <a href="javascript:void(0)" class="button primary" id="theme-switch" onclick="switchMode()">🌙</a>
    <!-- Footer -->
    <footer class="is-horizontal-align">
        <p>&copy; 2018 - {{ now.Format "2006"}} | <a href="/bengali/">তরুণ জানা</a></p>
    </footer>
    <!-- Script For Dark Mode -->
    <script>
        const element = document.body;
        // Check For Dark Mode
        if (
            (!(localStorage.getItem("bengali-theme") == "light") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches)) ||
            (localStorage.getItem("bengali-theme") == "dark")
        ) {
            element.classList.add("dark");
            document.getElementById("theme-switch").innerHTML = "☀️";
        }
        // Function For Theme Toggler
        function switchMode() {
            element.classList.toggle("dark");
            if (element.classList.contains("dark")) {
                localStorage.setItem("bengali-theme", "dark");
                document.getElementById("theme-switch").innerHTML = "☀️";
            }
            else {
                localStorage.setItem("bengali-theme", "light");
                document.getElementById("theme-switch").innerHTML = "🌙";
            }
        }
    </script>
</body>

</html>