<!DOCTYPE html>
<html lang="bn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bengali.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <title>{{ .Title }} | তরুণ জানা</title>
</head>

<body>
    <!-- Nav Bar -->
    <header class="container">
        <nav class="nav">
            <div class="nav-left">
                <a class="brand" href="/bengali/">তরুণ জানা<span class="rectangle blink"></span></a>
            </div>
            <div class="nav-right">
                <div class="tabs">
                    <a href="/bengali/about">পরিচয়</a>
                    <a href="/bengali/contact">যোগাযোগ</a>
                </div>
            </div>
        </nav>
    </header>
    <hr>
    <!-- Content-->
    <section class="container">
        <!-- Center align content if center_align: true is set in frontmatter -->
        {{ if .Params.center_align }}
        <section class="text-center">
            <h1>{{ .Title }}</h1>
            <hr>
            <!-- Main Content -->
            <article>{{ .Content }}</article>
            <!-- Hide copyright and comment section if comment: false is set in frontmatter -->
            {{ if .Params.comment }}
            <hr>
            <p class="copyright">কপিরাইট : <a href="/bengali/about">{{ .Params.writer }}</a><br>তারিখ : {{ .Date.Format "January 2, 2006" }}</p>
            <hr>
            <h3>আপনার মতামত জানান :</h3>
            {{ template "_internal/disqus.html" . }}
            {{ end }}
        </section>
        <!-- Justify contents for other types -->
        {{ else }}
        <section class="text-justify">
            <h1>{{ .Title }}</h1>
            <hr>
            <!-- Main Content -->
            <article>{{ .Content }}</article>
            <!-- Hide copyright and comment section if comment: false is set in frontmatter -->
            {{ if .Params.comment }}
            <hr>
            <p class="copyright">কপিরাইট : <a href="/bengali/about">{{ .Params.writer }}</a><br>তারিখ : {{ .Date.Format "January 2, 2006" }}</p>
            <hr>
            <h3>আপনার মতামত জানান :</h3>
            {{ template "_internal/disqus.html" . }}
            {{ end }}
        </section>
        {{ end }}
        <!-- Show Related Content if comment: true is set in frontmatter -->
        {{ if .Params.comment }}
        <hr>
        <h3 class="is-center is-marginless">আরো পড়ুন :</h3>
        <section class="is-horizontal-align">
            {{ partial "related.html" . }}
        </section>
        {{ end }}
    </section>
    <hr>
    <!-- Theme Toggler -->
    <a href="javascript:void(0)" class="button primary" id="theme-switch" onclick="switchMode()">🌙</a>
    <!-- Footer -->
    <footer class="is-horizontal-align">
        <p>&copy; 2018 - {{ now.Format "2006"}} | <a href="/bengali/">তরুণ জানা</a></p>
    </footer>
    <!-- Script For Dark Mode -->
    <script>
        const element = document.body;
        // Check For Dark Mode
        if (
            (!(localStorage.getItem("bengali-theme") == "light") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches)) ||
            (localStorage.getItem("bengali-theme") == "dark")
        ) {
            element.classList.add("dark");
            document.getElementById("theme-switch").innerHTML = "☀️";
        }
        // Function For Theme Toggler
        function switchMode() {
            element.classList.toggle("dark");
            if (element.classList.contains("dark")) {
                localStorage.setItem("bengali-theme", "dark");
                document.getElementById("theme-switch").innerHTML = "☀️";
            }
            else {
                localStorage.setItem("bengali-theme", "light");
                document.getElementById("theme-switch").innerHTML = "🌙";
            }
        }
    </script>
</body>

</html>