@font-face {
    font-family: 'Noto Serif Bengali';
    src: url('/fonts/noto-serif-bengali-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/noto-serif-bengali-regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/noto-serif-bengali-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Noto Serif Bengali';
    src: url('/fonts/noto-serif-bengali-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/noto-serif-bengali-bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/noto-serif-bengali-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
}
body, h1, h2, h3, h4, h5, h6, .list ul li .title, .navigation .container .navigation-title, 
.navigation .container .navigation-list .navigation-item .navigation-link {
    font-family: 'Noto Serif Bengali', serif;
}